/*
    Debug CSS file

    Ideas to further develop:

    - Grid looks could be changed through variable use.
    - Use transparent inline styles for gridMode divs.
    - Change "native" (vars) for "website"
    - Solve scrollbar issues
        Firefox: scrollbar-color property
        Chrome: -webkit
    - Some style changes to be taken into account
        - Font hierarchhy
        - More padding
        - Use of shadings and transparencies

*/

/* Main */

:root {
    /* Counter classes parameters */
    counter-reset: counter-1;
    /* Style variables */
    --dbg-base-borders: solid 1px red;
    --dbg-body-background: rgb(39, 30, 70);
    --dbg-color-1: rgba(47, 148, 118, 0.939);
    --dbg-color-2: rgba(0,0,0,0);
    --dbg-flag-color-1: yellow;
    --dbg-flag-color-2: orange;
    --dbg-menu-border: 1px solid black;
    --dbg-menu-background: rgba(0,0,0,1);
    --dbg-menu-color: rgba(255,255,255,1);
    --dbg-font-size-1: 0.8rem;
    --dbg-font-size-2: 0.9rem;
    --dbg-font-size-3: 1rem;
    --dbg-font-size-4: 1.1rem;
}

body {
    background-color: var(--dbg-body-background);
    min-height:100vh;
}



/* Flag class */
/* Used to highlight a desired eleement */

.flag-1 {
    background-color: var(--dbg-flag-color-1) !important;
    z-index: 30;
}

.flag-2 {
    background-color: var(--dbg-flag-color-2) !important;
    z-index: 30;
}



/* Deflow class */
/* Class to push an elemento out of the flow */

.deflow {
    display: block !important;
    position: fixed !important;
}



/* Counter classes */
/* Used to count whatever elements you desire */

.counter-1 {
    counter-increment: counter-1;
}



/* Diagnostic breakpoints */
/* Used to test specific screen resolutions */

@media screen and ()  { 
    html::before { content: "Diagnostic 1" } 
}

@media screen () { 
    html::before { content: "Diagnostic 2 "} 
}



/* Debug menu */
/* Classes for styling the on-screen debug */

#nms-main-container * {
    font-family: Arial;
    font-weight: normal;
    background-color:black;
}

#nms-main-container {
    position: fixed;
    top: 0px;
    left: 0px;
    border: var(--dbg-menu-border);
    background-color: var(--dbg-menu-background);
    background-color:black!important;
    color: var(--dbg-menu-color);
    z-index: 1000;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    border: 0px !important;
    font-family:arial;
    border-radius:6px;
}

#nms-main-container > div{
    padding: 0.5rem 1rem;
}

#nms-main-container .button,
#nms-main-container .nms-button{
    background-color: black;
    position:sticky;
    padding-bottom:1rem;
}

#nms-main-container label{
    font-size: var(--dbg-font-size-1);
}

.nms-menu-row{
    display:block;
    display:flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    font-size:var(--dbg-font-size-2);
    border-top:1px solid gray !important;
    padding:0.5rem 0.5rem 0.5rem 0.5rem;
}

.nms-menu-row:first-child{
    background-color:rgb(186, 185, 185) !important;
    border-radius: 5px 5px 0px 0px;
}

.nms-menu-row:last-child{
    border-radius:  0px 0px 5px 5px;
}

.nms-section-content{
    padding-left:1rem;
}

.nms-title{
    font-size:var(--dbg-font-size-3);
    color: black;
    background-color: rgb(186, 185, 185) !important;
    margin:0px;
}

.nms-folding-element-button{
    display:flex;
    flex-flow: row nowrap;
}

.nms-section-button{
    display:flex;
    flex-flow: row nowrap;
}

.nms-folded-element{
    max-width: 0px;
    max-height:0px;
    overflow:hidden;
}

.nms-checkbox-wrapper{
    display:flex;
    flex-flow: row nowrap;
    align-items:  baseline;
}

.nms-section-title{
    padding-right: 0.2rem;
    display:flex;
    flex-flow: row nowrap;
}

.nms-button-title{
    padding-right:0.2rem;
}

#grid-title-wrapper{
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-flow: row nowrap;
}

#grid-numbers-controls{
    position:relative;
    flex-basis: 100%;
    width:100%;
}

#visual_grid{                    
    position:fixed;                    
    top:0;                    
    z-index:999;                    
    display:flex;                    
    flex-flow: row wrap;                    
    box-sizing:border-box;                    
    min-width:100%;                    
    min-height:100vh;                    
    background-color: transparent !important;
}

.grid_section{                    
    border:1px dashed black !important;                              
    flex-grow:1;                
}

.var-menu-button {
    background-color: black;
    position:sticky;
    padding-bottom:1rem;
}

.debug-input {
    border-radius: 5px;
    padding-left: 0.5rem;
    margin: 5px 0px;
    background-color:white !important;
}

.nms-variable-container {
    min-height: 1px;
    overflow-y: scroll;
    max-height: 30vh;
    max-width: 50vw;
    display: flex;
    flex-flow: column nowrap;
}

.nms-variable-container h2 {
    font-size: var(--dbg-font-size-3);
}

.nms-variable-list .debug-input-label{
    font-size: var(--dbg-font-size-2);
}

.nms-variable-list .debug-input{
    font-size: var(--dbg-font-size-1) !important;
}

#debugmenu-scroll.fold {
    height: 100px;
    overflow: hidden;
}

.nms-variable-list{
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-start;
    padding-right:0.5rem;
    background-color: black;
    padding-top: 1rem;
    column-gap: 1rem;
}

.variable-content-wrapper {
    padding: 0.2rem 0px;
    flex-shrink: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: baseline;
    border: 0px !important;
    max-width:40%;
    column-gap: 1rem;
}

#debug-variables-button{
    margin-top:0px;    
}

#website-Variable-Container{
    margin-top:1.2rem;
}

.nms-variable-container h2 {
    margin-bottom:0px;
}

.nms-variable-content-wrapper > input {
    align-content: right;
    display: flex;
    align-content: space-around;
    max-width: 50%;
    padding:0.2rem 0.5rem;
}

.nms-variable-content-wrapper > label {
    border: 0px !important;
    padding: 0.5rem 0.5rem;
    display: flex;
    align-content: space-around;
}

.checkbox-content-wrapper {
    display: flex;
    align-items: baseline;
}

.checkbox-content-wrapper label {
    padding-left:2rem;
}

.checkbox-compound-wrapper {
    display: flex;
    align-items: baseline;
}

.number-content-wrapper {
    display: flex;
    align-items: baseline;
}

.debug-wrapper {
    padding: 0 1rem;
}

.number-content-wrapper > input {
    width: 3rem;
    background-color: white !important;
}

input[type="checkbox"]{
    margin-right:0.5rem;
}

.number-content-wrapper label {
    padding-left:0.5rem;
    padding-right:2rem;
}

.browser-warning-div{
    background-color:grey !important;
    border:1px-solid-black;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
}

.browser-warning-text{
    background-color:grey !important;
    color: black;
}

.browser-warning-link{
    background-color:white !important;
    text-align: center;
}

.animation-rotate-90 {
    animation-duration: 0.3s;
    animation-name: rotate-90;
    -webkit-transform: rotate(-90deg);
}

.animation-rotate-180 {
    animation-duration: 0.3s;
    animation-name: rotate-180;
    -webkit-transform: rotate(-180deg);
}

@keyframes rotate-90{
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
}

@keyframes rotate-180{
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
}