
:root {
    
    /* Local website variables */
    --lcl-base-borders: solid 1px red;
    --lcl-body-background: rgb(39, 30, 70);
    --lcl-color-1: rgba(47, 148, 118, 0.939);
    --lcl-color-2: rgba(0,0,0,0);

    --lcl-flag-color-1: yellow;
    --lcl-flag-color-2: orange;

    --lcl-menu-border: 1px solid black;
    --lcl-menu-background: rgba(0,0,0,1);
    --lcl-menu-color: rgba(255,255,255,1);

    --lcl-font-size-1: 0.8rem;
    --lcl-font-size-2: 0.9rem;
    --lcl-font-size-3: 1rem;
    --lcl-font-size-4: 1.1rem;

}
